<div class="row">
    <h3 class="subtitle mb-3">contacto</h3>
    <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt maxime
        iste aspernatur perspiciatis. Ut impedit pariatur, ducimus velit aliquam, enim ex
        rem repudiandae natus suscipit veritatis quasi est voluptatibus. Quia.</p>
    <div class="h3 my-5 sidebar-footer text-center w-100">
        <a target="_blank" href="https://wa.me/584242753197">
            <i class="fab p-2 fa-whatsapp"></i>
        </a>
        <a target="_blank" href="mailto:fjuribe.14@gmail.com">
            <i class="far p-2 fa-envelope"></i>
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/fernando-uribe-469212125/">
            <i class="fab p-2 fa-linkedin"></i>
        </a>
        <a target="_blank" href="https://github.com/fjuribe14">
            <i class="fab p-2 fa-github"></i>
        </a>
    </div>

    <form class="col-md-9 mx-auto" method="POST">
        <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Nombre">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="email" placeholder="Email">
        </div>
        <div class="form-group">
            <textarea type="text" name="text" rows="2" class="form-control" placeholder="Mensaje"></textarea>
        </div>
        <button class="btn btn-success mt-3 float-right" type="submit">
            enviar
            <i class="fas fa-paper-plane ml-2"></i>
        </button>
    </form>
</div>