<div class="row justify-content-center">
    <div class="col-12">
        <h3 class="subtitle mb-3">curriculum</h3>
        <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt maxime
            iste aspernatur perspiciatis. Ut impedit pariatur, ducimus velit aliquam, enim ex
            rem repudiandae natus suscipit veritatis quasi est voluptatibus. Quia.</p>
        <div class="w-100">
            <div class="form-inline justify-content-center">
                <img class="img-fluid" src="https://drive.google.com/uc?id=1RtpXvVgK5Y9w2MXYnKVqypww_cdSOQsw" alt="">
            </div>
        </div>
        <div class="col-12 d-flex">
            <a class="btn btn-success mt-4 mx-auto"
                href="https://drive.google.com/open?id=1RtpXvVgK5Y9w2MXYnKVqypww_cdSOQsw" target="_blank">
                descargar
                <i class="fas fa-download ml-2"></i>
            </a>
        </div>
        <div class="row pt-5">
            <div class="col-12 text-center envelope p-3">
                <h3 class="text-white">enviame un mensaje</h3>
                <a class="btn btn-success mt-3" id="contacto-tab" data-toggle="pill" href="#contacto" role="tab"
                    aria-controls="contacto" aria-selected="false">
                    contactame
                    <i class="fas fa-paper-plane ml-2"></i>
                </a>
            </div>
        </div>
    </div>
</div>