<div class="main p-5 pb-0">
    <div class="tab-content" id="v-pills-tabContent">
        <!-- perfil -->
        <div class="tab-pane fade show active" id="perfil" role="tabpanel" aria-labelledby="perfil-tab">
            <% include profile %>
        </div>
        <!-- trabajos -->
        <div class="tab-pane fade" id="portafolio" role="tabpanel" aria-labelledby="portafolio-tab">
            <% include works %>
        </div>
        <!-- curriculum -->
        <div class="tab-pane fade" id="curriculum" role="tabpanel" aria-labelledby="curriculum-tab">
            <% include cv %>
        </div>
        <!-- repos -->
        <div class="tab-pane fade" id="repos" role="tabpanel" aria-labelledby="repos-tab">repos</div>
        <!-- contacto -->
        <div class="tab-pane fade" id="contacto" role="tabpanel" aria-labelledby="contacto-tab">
            <% include contact %>
        </div>
    </div>
</div>