<!-- intro -->
<div class="row">
    <div class="col-md-7">
        <h1 class="title">fernando uribe</h1>
        <h3 class="subtitle">web designer</h3>
        <p class="content">
            Soy un diseñador web, con más de 3 años creando plantillas conjunto con proyectos de
            personas quienes desean tener algun tipo de presentación, marca o comenzar en el
            mundo del e-comerce.
        </p>
        <a class="btn btn-primary float-right m-2" id="curriculum-tab" data-toggle="pill" href="#curriculum" role="tab"
            aria-controls="curriculum" aria-selected="false">
            Ver Cv
            <i class="fas fa-arrow-right ml-2"></i>
        </a>
        <a class="btn btn-light float-right border m-2" id="portafolio-tab" data-toggle="pill" href="#portafolio"
            role="tab" aria-controls="portafolio" aria-selected="false">
            Ver trabajos
            <i class="fas fa-arrow-right ml-2"></i>
        </a>
    </div>
    <div class="col-md-5">
        <img class="img-fluid"
            src="https://cdn.dribbble.com/users/428722/screenshots/6159944/kctcs-student-center-illustration-dribbble.png"
            alt="">
    </div>
</div>
<!-- mi comienzo -->
<div class="row pt-5">
    <div class="col">
        <h3 class="subtitle mb-4">que hago ?</h3>
        <p class="content">
            <b>Responsive Web Design</b> para personas que quieren hacer sus sueños realidad,
            desean tener una carta de presentación profesional o buscan un impulso para comenzar
            sus nuevos negocios.
        </p>
    </div>
</div>
<!-- que se -->
<div class="row pt-5">
    <div class="col-12">
        <h3 class="subtitle mb-4">que sé ?</h3>
    </div>
    <div class="col-md-4">
        <i class="fab fa-html5 h1"></i>
        <i class="fab fa-css3-alt h1"></i>
        <h3>html5 & css3</h3>
        <p class="content">
            Son el pilar de una <b>pagina web básica</b> que desde su creación aun
            se sigue utilizando para dar el estilo y la estructura
        </p>
    </div>
    <div class="col-md-4">
        <i class="fab fa-bootstrap h1"></i>
        <h3>Bootstrap 4</h3>
        <p class="content">
            Es un <b>framework de css</b> que nos trae una gran variedad de componentes
            que hacen más facil el diseño de la pagina
        </p>
    </div>
    <div class="col-md-4">
        <i class="fab fa-js h1"></i>
        <h3>javascript</h3>
        <p class="content">
            Es unos de los lenguajes más utilizados para establecer el comportamiento
            de una página, tanto en la parte del <b>frontend</b> como del <b>backend</b>.
        </p>
    </div>
    <div class="col-md-4">
        <i class="fab fa-php h1"></i>
        <h3>php</h3>
        <p class="content">
            Es un lenguaje de la parte del <b>servidor</b> dando acceso a
            <b>bases de datos</b> y darle un poco de flujo de datos al proyecto
        </p>
    </div>
    <div class="col-md-4">
        <i class="fab fa-wordpress-simple h1"></i>
        <h3>wordpress</h3>
        <p class="content">
            Es un <b>sistema de gestión de contenido</b> basado en PHP y MySQL
        </p>
    </div>
    <div class="col-md-4">
        <i class="fab fa-node-js h1"></i>
        <h3>node.js</h3>
        <p class="content">
            Es un entorno que nos ayuda a utilizar
            <b>Javascript en la parte del servidor</b>
        </p>
    </div>
    <div class="col-md-4">
        <i class="fab fa-react h1"></i>
        <h3>mern stack</h3>
        <p class="content">
            Es un stack donde se incorporan las técnologias:
            <ul class="content">
                <li class=""><b>M</b>ongodb</li>
                <li class=""><b>E</b>xpress</li>
                <li class=""><b>R</b>eact</li>
                <li class=""><b>N</b>odejs</li>
            </ul>
        </p>
    </div>

    <div class="col-md-4">
        <i class="fab fa-npm h1"></i>
        <h3>npm</h3>
        <p class="content">
            Es una <b>libreria de paquetes</b> para Node.js
        </p>
    </div>
    <hr class="w-100 my-4 d-block d-md-none">
    <div class="col-md-4 d-flex">
        <a class="btn btn-primary mx-auto align-self-center" id="curriculum-tab" data-toggle="pill" href="#curriculum"
            role="tab" aria-controls="curriculum" aria-selected="false">
            Ver Cv
            <i class="fas fa-arrow-right ml-2"></i>
        </a>
    </div>
</div>
<div class="row pt-5">
    <div class="col-12 text-center envelope p-3">
        <h3 class="text-white">enviame un mensaje</h3>
        <a class="btn btn-success mt-3" id="contacto-tab" data-toggle="pill" href="#contacto" role="tab"
            aria-controls="contacto" aria-selected="false">
            contactame
            <i class="fas fa-paper-plane ml-2"></i>
        </a>
    </div>
</div>