<div class="navbar navbar-expand-lg m-0 p-0">
    <button class="navbar-toggler p-3" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
        aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-grip-lines"></i>
    </button>
</div>
<div class="collapse navbar-collapse" id="navbar">
    <div class="sidebar-nav my-auto title text-capitalize nav flex-column nav-pills" id="v-pills-tab" role="tablist"
        aria-orientation="vertical">

        <a class="nav-link active" id="perfil-tab" data-toggle="pill" href="#perfil" role="tab" aria-controls="perfil"
            aria-selected="true">
            <i class="far fa-user mr-2"></i>
            sobre mi
        </a>
        <a class="nav-link" id="portafolio-tab" data-toggle="pill" href="#portafolio" role="tab"
            aria-controls="portafolio" aria-selected="false">
            <i class="far fa-file-code mr-2"></i>
            trabajos
        </a>
        <a class="nav-link" id="curriculum-tab" data-toggle="pill" href="#curriculum" role="tab"
            aria-controls="curriculum" aria-selected="false">
            <i class="far fa-file mr-2"></i>
            curriculum
        </a>
        <!-- <a class="nav-link" id="repos-tab" data-toggle="pill" href="#repos" role="tab"
            aria-controls="repos" aria-selected="false">
            <i class="far fa-folder mr-2"></i>
            repos
        </a> -->

        <a class="nav-link" id="contacto-tab" data-toggle="pill" href="#contacto" role="tab" aria-controls="contacto"
            aria-selected="false">
            <i class="far fa-envelope mr-2"></i>
            contacto
        </a>
    </div>
</div>