<div class="sidebar d-none d-md-block shadow">
    <div class="sidebar-body d-flex flex-column p-3">
        <div class="sidebar-header text-center">
            <img class="rounded-circle p-1"
                src="https://lh3.googleusercontent.com/C0pJBpnSEfkHU-KaPhvt9emFwRH0ramhjItx_fhqKOmsgg7cglS9Qin6tmI6x90lFztkX2ksohJAWMbVm8oWHl70UEghnn-oW62NSa6LMG5m7drvWGnaN8cyjPgkwMaTglgW4OIcrEokvk8-M23C8jcoueECfygeM7PKMwNxmw7L5huKidHqLAeb6Gzfyv8Os2W2-7CypGhYrG2rOZUO1QxByqSnsZQQu6tzGvsdGYm7XkPDUaqUjA65nzKm08yeeMrSrqMoG9-j45YEBqbSBwxoUPhR2L7D-42jWUJQonJByMaCvvqukb8BQZoZu7UcfXUJ_nnWx-aEtsHIp_Qp9nUinh0heVvtydxPWD7pFN_LgLoFUjb0isG_f9wZwifRynoNi8TuuEcVUPT_Go6M1EGMNS5H4d0NrXCUyrNFAd5EYsdkgAc0Paj_y3DUmRzv1aogYULkW-1f9R1Q4Zl3wmkORVdHw6Sjq3Ph1COltzBJJLm2HjsQnh1Sak3G3zlle99apPEo9ge8S5yV5mvcY_QbZVzqmbwla_zdb3Jl2sqdGhpYAXleX_xH-uGzct-l7NqpGildyDTjJncZf3rcezsTylRkZjktzIml7A9hftTDLY9efIJqwfEQdPAQ7GPpqAuwjUsVC-ajwkwDbABps9soO9lAPOMjbJw3DBsNWiTiLiXoqTS4cW4=w480-h478-no"
                alt="fernando_uribe" width="50%">
            <h5 class="title mt-4 m-0">fernando uribe</h5>
            <hr>
            <p class="content m-0"><small>Web Designer</small></p>

        </div>
        <div class="sidebar-nav my-auto title text-capitalize nav flex-column nav-pills" id="v-pills-tab" role="tablist"
            aria-orientation="vertical">

            <a class="nav-link my-1 border active" id="perfil-tab" data-toggle="pill" href="#perfil" role="tab"
                aria-controls="perfil" aria-selected="true">
                <i class="far fa-user mr-2"></i>
                sobre mi
            </a>
            <a class="nav-link my-1 border" id="portafolio-tab" data-toggle="pill" href="#portafolio" role="tab"
                aria-controls="portafolio" aria-selected="false">
                <i class="far fa-file-code mr-2"></i>
                trabajos
            </a>
            <a class="nav-link my-1 border" id="curriculum-tab" data-toggle="pill" href="#curriculum" role="tab"
                aria-controls="curriculum" aria-selected="false">
                <i class="far fa-file mr-2"></i>
                curriculum
            </a>
            <!-- <a class="nav-link my-1 border" id="repos-tab" data-toggle="pill" href="#repos" role="tab"
                aria-controls="repos" aria-selected="false">
                <i class="far fa-folder mr-2"></i>
                repos
            </a> -->

            <a class="nav-link my-1 border" id="contacto-tab" data-toggle="pill" href="#contacto" role="tab"
                aria-controls="contacto" aria-selected="false">
                <i class="far fa-envelope mr-2"></i>
                contacto
            </a>
        </div>
        <div class="sidebar-footer mt-auto text-center">
            <div class="h4">
                <a target="_blank" href="https://wa.me/584242753197">
                    <i class="fab p-2 fa-whatsapp"></i>
                </a>
                <a target="_blank" href="mailto:fjuribe.14@gmail.com">
                    <i class="far p-2 fa-envelope"></i>
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/fernando-uribe-469212125/">
                    <i class="fab p-2 fa-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/fjuribe14">
                    <i class="fab p-2 fa-github"></i>
                </a>
            </div>
        </div>
    </div>
</div>