<% include ../../components/layout/header %>

<div class="row m-0 p-5 justify-content-center">

    <% include ../../components/layout/sidebar %>

    <div class="main-dashboard w-100">
        <div class="tab-content" id="v-pills-tabContent">
            <!-- dashboard -->
            <div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                <h4 class="subtitle">dashboard</h4>
            </div>
            <!-- pages -->
            <div class="tab-pane fade" id="pages" role="tabpanel" aria-labelledby="pages-tab">
                <h4 class="subtitle">pages</h4>
            </div>
            <!-- posts -->
            <div class="tab-pane fade" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                <h4 class="subtitle">post</h4>
            </div>
            <!-- curriculum -->
            <div class="tab-pane fade" id="messages" role="tabpanel" aria-labelledby="messages-tab">
                <div class="row m-0">
                    <% include msgs %>
                </div>
            </div>
            <!-- settings -->
            <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                <h4 class="subtitle">settings</h4>
            </div>
        </div>
    </div>
</div>
<% include ../../components/layout/footer %>