<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="https://kit.fontawesome.com/a189b25472.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/fabiola/style.css">
    <title>Fabiola Martinez Abogada</title>
</head>

<body class="text-faby">


    <nav class="navbar navbar-dark navbar-expand-lg bg-2 p-2 fixed-top shadow-sm">
        <div class="container">
            <a href="#" class="navbar-brand p-0"><b>Fabiola Martinez</b></a>
            <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#menu"
                aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="menu">
                <div class="nav ml-auto">
                    <a href="#exp" class="nav-item nav-link color-3">Experiencia</a>
                    <a href="#edu" class="nav-item nav-link color-3">Educación</a>
                    <a href="#skills" class="nav-item nav-link color-3">Habilidades</a>
                    <a href="#cont" class="nav-item nav-link color-3">Contacto</a>
                </div>
            </div>
        </div>
    </nav>
    <!--    intro-->
    <div class="container pt-md-5 bg-buildings">
        <div class="row py-md-5 justify-content-center">
            <div class="col-md-4 p-0">
                <img src="/fabiola/img/perfile.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-4 bg-1 p-4 d-flex flex-column align-items-center">
                <h3 class="text-white mt-3 m-0 faby-subtitle text-center"><b>Fabiola S. Martinez</b></h3>
                <h4 class="color-3 text-center">Abogada</h4>
                <div class="col mt-5 color-3">
                    <h6><b>Nacimiento</b> <small>13 de julio de 1991</small></h6>
                    <h6><b>Nacionalidad</b> <small>Venezolana</small></h6>
                    <h6><b>Correo</b> <small>faby.martinez0728@gmail.com</small></h6>
                    <h6><b>Teléfono</b> <small>+58 (424) 140-9799</small></h6>
                </div>
                <button class="btn btn-outline-light-faby mx-auto mt-3">ver cv</button>
            </div>

            <div class="col-md-8 bg-3 d-flex justify-content-center">
                <i class="fab fa-linkedin-in h4 m-3 text-white"></i>
                <i class="fab fa-instagram h4 m-3 text-white"></i>
                <i class="fab fa-facebook-square h4 m-3 text-white"></i>
                <i class="fab fa-twitter h4 m-3 text-white"></i>
            </div>

            <div class="col-md-8 p-4 mt-md-5 bg-white color-4 text-center">
                <p class="faby-subtitle color-3">"Persona proactiva egresada de la Universidad José María Vargas con
                    habilidad para trabajar en ambientes bajo presión, excelente comunicación oral y expresión,
                    disposición de instruirse, capacidad para el análisis e interpretación, destreza para trabajar en
                    equipos con enfoque y disciplina, buen manejo y aplicación de las diversas leyes que se aplican en
                    el ordenamiento jurídico"</p>
            </div>
        </div>
    </div>
    <!--    experiencia-->
    <div class="container-fluid bg-white">
        <h3 class="py-5 text-center w-100 faby-title" id="exp">Experiencia</h3>

        <div class="row mt-2">
            <div class="col mr-md-5 text-right d-none d-md-block">
                <h3 class="">Septiembre 2013</h3>
                <h5 class="color-3"><small>Asistente Jurídico</small></h5>
            </div>
            <div class="col-md-6 exp pl-md-5">
                <h3 class="m-0 mb-md-2">Registro Civil La Candelaria</h3>
                <h5 class="color-3 d-block d-md-none"><small>Asistente Jurídico</small></h5>
                <p>
                    Registro de Actas (Nacimiento, Defunción Matrimoniales), elaboración de remesas familiares,
                    asistencia jurídica a los usuarios. Atención General.
                    <span class="blockquote-footer d-block d-md-none">Septiembre 2013.</span>
                </p>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col mr-md-5 text-right d-none d-md-block">
                <h3 class="">Marzo 2016</h3>
                <h5 class="color-3"><small>Especialista en Derecho</small></h5>
            </div>
            <div class="col-md-6 exp pl-md-5">
                <h3 class="m-0 mb-md-2">Instituto Nacional de Parques (INPARQUES)</h3>
                <h5 class="color-3 d-block d-md-none"><small>Especialista en Derecho</small></h5>
                <p>
                    Elaboración de Procedimientos Administrativos, Mercantiles, elaboración de comunicados a la
                    Fiscalía, control de casos en Tribunales Penales, Laborales y Contenciosos. Elaboración y revisión
                    de contratos.
                    <span class="blockquote-footer d-block d-md-none">Marzo 2016.</span>
                </p>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col mr-md-5 text-right d-none d-md-block">
                <h3 class="">Mayo 2018</h3>
                <h5 class="color-3"><small>Abogado Junior</small></h5>
            </div>
            <div class="col-md-6 exp pl-md-5">
                <h3 class="m-0 mb-md-2">Contraloría General de la República Bolivariana de Venezuela</h3>
                <h5 class="color-3 d-block d-md-none"><small>Abogado Junior</small></h5>
                <p>
                    Verificar la conformación de los expedientes de adquisición de bienes, prestación de servicios y
                    ejecución de obras de acuerdo a los lineamientos establecidos y de conformidad con la normativa
                    legal aplicable. Elaboración de proyectos de contratos vinculados con la adquisición de bienes,
                    prestación de servicios y ejecución de obras que haya de celebrar la Contraloría General de la
                    República, de conformidad con la normativa que rige la materia. Ejecutar el cierre administrativo de
                    los contratos, suscritos con motivo de la sustanciación de las modalidades de selección de
                    contratistas y de los procedimientos excluidos de la aplicación de las referidas modalidades.
                    <span class="blockquote-footer d-block d-md-none">Mayo 2018.</span>
                </p>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col mr-md-5 text-right d-none d-md-block">
                <h3 class="">Mayo 2018</h3>
                <h5 class="color-3"><small>Abogado Auditor</small></h5>
            </div>
            <div class="col-md-6 exp pl-md-5">
                <h3 class="m-0 mb-md-2">Petróleos de Venezuela, S.A. (PDVSA)</h3>
                <h5 class="color-3 d-block d-md-none"><small>Abogado Auditor</small></h5>
                <p>
                    Revisión de expedientes en el área de Contrataciones Públicas. Comisión de servicio.
                    <span class="blockquote-footer d-block d-md-none">Mayo 2018.</span>
                </p>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col mr-md-5 text-right d-none d-md-block">
                <h3 class="">Actualmente</h3>
                <h5 class="color-3"><small>Abogado Adjunto III</small></h5>
            </div>
            <div class="col-md-6 exp pl-md-5">
                <h3 class="m-0 mb-md-2">Ministerio Público</h3>
                <h5 class="color-3 d-block d-md-none"><small>Abogado Adjunto III</small></h5>
                <p>
                    Revisión y remisión de documentación emanada del Centro Nacional del Comercio Exterior, atención al
                    público con relación a denuncias de acuerdo a lo previsto en la Ley Contra la Corrupción, personal
                    de enlace con Fiscalias Nacionales, Regionales y Escuela Nacional de Fiscales.
                    <span class="blockquote-footer d-block d-md-none">Actualmente.</span>
                </p>
            </div>
        </div>

    </div>
    <!--    educacion-->
    <div class="container-fluid bg-white pb-5">
        <h3 class="py-5 text-center w-100 faby-title border border-left-0 border-right-0" id="edu">Educación</h3>

        <div class="row mt-2">
            <div class="col mr-md-5 text-right d-none d-md-block">
                <h3 class="">Agosto 2008</h3>
                <h5 class="color-3"><small>Bachiller en Ciencias</small></h5>
            </div>
            <div class="col-md-6 exp pl-md-5">
                <h3 class="m-0 mb-md-2">U.E.P. 12 de Febrero</h3>
                <h5 class="color-3 d-block d-md-none"><small>Bachiller en Ciencias</small></h5>
                <p>
                    <span class="blockquote-footer d-block d-md-none">Agosto 2008.</span>
                </p>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col mr-md-5 text-right d-none d-md-block">
                <h3 class="">Septiembre 2015.</h3>
                <h5 class="color-3"><small>Abogado</small></h5>
            </div>
            <div class="col-md-6 exp pl-md-5">
                <h3 class="m-0 mb-md-2">Universidad José María Vargas</h3>
                <h5 class="color-3 d-block d-md-none"><small>Abogado</small></h5>
                <p>
                    <span class="blockquote-footer d-block d-md-none">Septiembre 2015.</span>
                </p>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col mr-md-5 text-right d-none d-md-block">
                <h3 class="">Actualmente</h3>
                <h5 class="color-3"><small>Postgrado en Derecho Mercantil</small></h5>
            </div>
            <div class="col-md-6 exp pl-md-5">
                <h3 class="m-0 mb-md-2">Universidad Santa María</h3>
                <h5 class="color-3 d-block d-md-none"><small>Postgrado en Derecho Mercantil</small></h5>
                <p>
                    <span class="blockquote-footer d-block d-md-none">Actualmente</span>
                </p>
            </div>
        </div>

    </div>
    <!--    habilidades-->
    <div class="container pb-5">
        <h3 class="text-center w-100 faby-title text-white py-5" id="skills">Habilidades</h3>
        <div class="row justify-content-center">
            <div class="col-md-5 m-2 p-3 bg-3 color-2 text-center">
                <h3 class="m-0">Español - Lengua Materna</h3>
            </div>
            <div class="col-md-5 m-2 p-3 bg-3 color-2 text-center">
                <h3 class="m-0">Ingles - Medio</h3>
            </div>
            <div class="col-md-5 m-2 p-3 bg-3 color-2 text-center">
                <h3 class="m-0">Microsoft Excel - Básico</h3>
            </div>
            <div class="col-md-5 m-2 p-3 bg-3 color-2 text-center">
                <h3 class="m-0">Microsoft Word - Básico</h3>
            </div>
            <div class="col-md-5 m-2 p-3 bg-3 color-2 text-center">
                <h3 class="m-0">Microsoft PowerPoint - Básico</h3>
            </div>
            <div class="col-md-5 m-2 p-3 bg-3 color-2 text-center">
                <h3 class="m-0">Windows - Medio</h3>
            </div>
        </div>
    </div>
    <!--    contacto-->
    <div class="container-fluid bg-3 pb-5">
        <h3 class="text-white py-5 text-center faby-title" id="cont">Contacto</h3>
        <div class="row">
            <div class="col-md-6 p-5">
                <form class="row text-white" action="/fabiola" method="POST">
                    <div class="form-group col-md-6">
                        <input type="text" name="name" class="form-control" placeholder="Nombre" required>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="email" name="email" class="form-control" placeholder="Email" required>
                    </div>
                    <div class="form-group col-12">
                        <textarea name="text" rows="3" class="form-control" placeholder="Descripción"
                            required></textarea>
                    </div>
                    <button class="btn btn-outline-pink-faby mx-auto" type="submit">Enviar</button>
                </form>
            </div>
            <div class="col-md-6 border-left">
                <h3 class="text-white m-0 text-center"><b>Fabiola S. Martinez</b></h3>
                <h4 class=" text-center">Abogada</h4>
                <div class="card-body text-white p-5">
                    <h6><b>Dirección</b></h6>
                    <p>Avenida Sur 19, Edificio Parque Residencial Los Caobos, Torre ”B”, Piso 21, Apartamento 211. La
                        Candelaria. Caracas.</p>
                    <h6><b>Correo</b></h6>
                    <p>faby.martinez0728@gmail.com</p>
                    <h6><b>Teléfono</b></h6>
                    <p>+58 (424) 140-9799</p>
                    <div class="w-100 bg-3 d-flex justify-content-center">
                        <i class="fab fa-linkedin-in h4 m-3 text-white"></i>
                        <i class="fab fa-instagram h4 m-3 text-white"></i>
                        <i class="fab fa-facebook-square h4 m-3 text-white"></i>
                        <i class="fab fa-twitter h4 m-3 text-white"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    footer-->
    <footer class="bg-2 color-3 text-center m-0">
        <h3 class="p-3 m-0">Portafolio 2019</h3>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>