<% include components/layout/header %>

<% include components/layout/navbar %>
<div class="container main d-flex justify-content-center">
    <div class="col-md-4 align-self-center text-center">
        <img class="img-fluid" src="https://drive.google.com/uc?id=1bnEPOAXU1OYviv9TvFqo8eSmD0yYSUh6" alt="">
        <h1 class="title">Welcome to
            <h3 class="m-0"><span class="title">Moth</span><span class="content">tech_</span> <span
                    class="content text-success">admin</span></h3>
        </h1>
    </div>
</div>

<% include components/layout/footer %>